.App {
  font-family: Arial, sans-serif;
  max-width: 100px;
  margin: 0 auto;
  padding: 10px;
}

h1 {
  font-size: 36px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  margin-bottom: 10px;
}

.movie-poster {
  width: 100px;
  margin-right: 20px;
}

.movie-details {
  display: flex;
  flex-direction: column;
}

.movie-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1px;
}

.movie-description {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 9px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="text"], textarea {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  font-size: 18px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0062cc;
}
